.header-container {
  color: #f04444;
  display: flex;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  box-shadow: rgba(255, 68, 22, 0.25) 0px 2px 5px -1px,
    rgb(255, 9, 9) 0px 1px 3px -1px;
}
